# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/.metadata/*
**/.settings/*
**/.classpath
**/.project
**/.idea/*
/target/*
/.gradle/*
**/node_modules/*
**/build/*
**/*.lock
*/yarn.lock